<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<typeAliases>
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		
  		<typeAlias type="com.choa.s4.board.BoardDTO" alias="BoardDTO"/>
  		<typeAlias type="com.choa.s4.board.file.BoardFileDTO" alias="BoardFileDTO"/>
  		<typeAlias type="com.choa.s4.board.notice.NoticeDTO" alias="NoticeDTO"/>
  		<typeAlias type="com.choa.s4.board.qna.QnaDTO" alias="QnaDTO"/>
  		<typeAlias type="com.choa.s4.board.memo.MemoDTO" alias="MemoDTO"/>
  		<typeAlias type="com.choa.s4.member.MemberDTO" alias="MemberDTO"/>
  		<typeAlias type="com.choa.s4.member.memberUser.MemberUserDTO" alias="MemberUserDTO"/>
  		<typeAlias type="com.choa.s4.member.memberFile.MemberFileDTO" alias="MemberFileDTO"/>
  		<typeAlias type="com.choa.s4.util.Pager" alias="Pager"/>
  	
  	</typeAliases>
  
  
  </configuration>