<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.choa.s4.member.memberUser.MemberUserDAO">
	
	<select id="getMemberIdCheck" resultType="MemberDTO" parameterType="MemberDTO">
		select id from member where id=#{id}
	</select>
	
	
	<insert id="setMemberJoin" parameterType="MemberDTO">
		insert into member values(member_seq.nextval, #{id}, #{pw}, #{name}, #{email})
	
	</insert>
	
	<delete id="setMemberDelete" parameterType="MemberDTO">
		delete member where id=#{id}
	</delete>
	
	<update id="setMemberUpdate" parameterType="MemberDTO">
		update member set name=#{name}, email=#{email} where id=#{id}
	</update>
	
	<resultMap type="MemberDTO" id="getMemberLoginResult">
		<id column="num" property="num"></id>
		<result column="id" property="id"/>
		<result column="pw" property="pw"/>
		<result column="name" property="name"/>
		<result column="email" property="email"/>
		<association property="memberFileDTO" javaType="MemberFileDTO" resultMap="memberFileResult" >
		</association>
	</resultMap>
	
	<resultMap type="MemberFileDTO" id="memberFileResult">
			<id column="num" property="num"></id>
			<result column="id" property="id"/>
			<result column="filename" property="fileName"/>
			<result column="oriname" property="oriName"/>
	</resultMap>
	
	<select id="getMemberLogin" parameterType="MemberDTO" resultMap="getMemberLoginResult">
		Select M.*, F.*
		from member M inner join memberfile F
		on (M.id = F.id)
		where M.id = #{id} and M.pw = #{pw}
	</select>
	

		
</mapper>    